<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dennis Ivanov</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">

</head>

<body>

    {% include 'base/navbar.html' %}

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

    {% block content %}


    {% endblock content %}


</body>

</html>