<section class="navigation-bar">
    <a class="nav-link" href="{% url 'home' %}">
        Projects
    </a>


    <a class="nav-link" href="#">
        Contact
    </a>

    <a class="nav-link" href="{% url 'chart' %}">
        Vote
    </a>

    <a class="btn btn-light btn-sm" href="{% url 'donation' %}">
        BUY ME A COFFEE
    </a>

    {% if request.user.is_authenticated %}
    <a class="nav-link" href="{% url 'inbox' %}">
        Inbox
    </a>
    <a class="nav-link" href="{% url 'add-project' %}">
        Add Project
    </a>
    <a class="nav-link" href="{% url 'add-skill' %}">
        Add Skill
    </a>


    {% endif %}
</section>