{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>Project Form</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {% for field in form %}

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
            {{field}}
        </div>

        {% endfor %}

        <input class="btn btn-primary" type="submit" value="submit">

    </form>
</div>


{% endblock content %}